In [1]:
import pandas as pd

In [2]:
sim = pd.read_csv("similarity.csv")

In [3]:
sim.describe()
sim = sim.round(3)

In [4]:
sim.columns

Index(['user_handle', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       ...
       '8751', '8752', '8753', '8754', '8755', '8756', '8757', '8758', '8759',
       '8760'],
      dtype='object', length=8761)

In [5]:
sim.shape

(8760, 8761)

In [6]:
sim.head(5)

,user_handle,1,2,3,4,5,6,7,8,9,...,8751,8752,8753,8754,8755,8756,8757,8758,8759,8760
0,1,1.000,0.036,0.005,0.303,0.208,0.247,0.356,0.075,0.081,...,0.084,0.260,0.061,0.579,0.096,0.119,0.116,0.215,0.601,0.593
1,2,0.036,1.000,0.001,0.022,0.155,0.027,0.033,0.009,0.020,...,0.016,0.021,0.014,0.039,0.011,0.016,0.014,0.103,0.045,0.044
2,3,0.005,0.001,1.000,0.002,0.003,0.003,0.005,0.001,0.001,...,0.001,0.003,0.001,0.006,0.001,0.007,0.031,0.003,0.008,0.008
3,4,0.303,0.022,0.002,1.000,0.068,0.082,0.145,0.032,0.048,...,0.041,0.078,0.022,0.142,0.029,0.380,0.036,0.066,0.179,0.176
4,5,0.208,0.155,0.003,0.068,1.000,0.128,0.198,0.032,0.030,...,0.048,0.140,0.027,0.258,0.053,0.066,0.068,0.121,0.333,0.320

In [7]:
type(sim)

pandas.core.frame.DataFrame

In [8]:
sim.isnull().values.any()

False

In [9]:
users = list(sim.user_handle)

In [10]:
len(users)

8760

In [11]:
sim[sim['user_handle']==1]

,user_handle,1,2,3,4,5,6,7,8,9,...,8751,8752,8753,8754,8755,8756,8757,8758,8759,8760
0,1,1.0,0.036,0.005,0.303,0.208,0.247,0.356,0.075,0.081,...,0.084,0.26,0.061,0.579,0.096,0.119,0.116,0.215,0.601,0.593

In [12]:
appen = pd.DataFrame(columns=['user_handle']+["similar_"+str(i) for i in range(1,11)])

In [15]:
from collections import OrderedDict
row_list =[]
for user in users:
    dt = sim[sim['user_handle']==user].to_dict(orient='records')
    dt = dt[0]
    dt = OrderedDict(sorted(dt.items(), key = lambda x: x[1], reverse=True))
    #print(dt)
    row = {}
    row['user_handle'] = int(dt['user_handle'])
    del dt['user_handle']
    i = 0
    for key, val in dt.items():
        if i >=11: break
        row["similar_" + str(i)] = int(key)
        i += 1
    #print(row)
    row_list.append(row)
    #break
app = pd.DataFrame(row_list)
#print(app)
appen = pd.concat([appen, app])
#print(appen)

In [16]:
appen.head(5)

,similar_0,similar_1,similar_10,similar_2,similar_3,similar_4,similar_5,similar_6,similar_7,similar_8,similar_9,user_handle
0,1.0,5460,8011,1762,8054,1754,8444,2856,3651,3129,1734,1.0
1,2.0,268,527,5988,106,508,2400,8031,1345,3403,8331,2.0
2,3.0,2996,5444,1292,901,1954,8324,8681,2837,5606,1986,3.0
3,4.0,8305,7562,5314,5733,1911,5393,6219,1553,2119,6164,4.0
4,5.0,4474,2384,1895,585,4530,6480,6832,515,7954,2003,5.0